In [9]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import matplotlib.colors as mcolors
# from cycler import cycler
# import matplotlib.pyplot as plt

<h3>Read in CSV File</h3>

In [10]:
df = pd.read_csv('../data/apparent_per_capita_alcohol_consumption_1977_2018.csv')

<h3>List of Columns in Dataframe</h3>

In [11]:
for cols in sorted(df):
    print(cols)

ethanol_all_drinks_gallons_per_capita
ethanol_beer_gallons_per_capita
ethanol_spirit_gallons_per_capita
ethanol_wine_gallons_per_capita
number_of_beers
number_of_drinks_total
number_of_glasses_wine
number_of_shots_liquor
state
year

<h3>DataFrame Described</h3>

In [12]:
df.describe()

,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
count,2352.000000,2352.000000,2352.000000,2352.000000,2352.000000,2352.000000,2352.000000,2352.000000,2352.000000
mean,1997.500000,1.279269,0.346144,0.850391,2.476063,303.234064,68.692085,176.561343,528.226757
std,12.123496,0.228744,0.182142,0.347001,0.609605,54.220899,36.145971,72.045606,130.049158
min,1977.000000,0.580000,0.080000,0.360000,1.190000,137.481481,15.875969,74.744526,253.866667
25%,1987.000000,1.120000,0.210000,0.650000,2.130000,265.481481,41.674419,134.955393,454.400000
50%,1997.500000,1.270000,0.310000,0.770000,2.360000,301.037037,61.519380,159.870235,503.466667
75%,2008.000000,1.400000,0.450000,0.960000,2.700000,331.851852,89.302326,199.318735,576.000000
max,2018.000000,2.170000,1.210000,3.560000,6.320000,514.370370,240.124031,739.140308,1348.266667

<h3>First 10 Rows in DataFrame</h3>

In [13]:
df.head(10)

,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,alabama,2018,1.04,0.26,0.69,1.99,246.518519,51.596899,143.260341,424.533333
1,alabama,2017,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2,alabama,2016,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879157,428.800000
4,alabama,2014,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667
5,alabama,2013,1.14,0.25,0.60,1.99,270.222222,49.612403,124.574209,424.533333
6,alabama,2012,1.16,0.24,0.60,2.00,274.962963,47.627907,124.574209,426.666667
7,alabama,2011,1.16,0.24,0.59,1.98,274.962963,47.627907,122.497972,422.400000
8,alabama,2010,1.17,0.23,0.58,1.98,277.333333,45.643411,120.421736,422.400000
9,alabama,2009,1.19,0.22,0.57,1.98,282.074074,43.658915,118.345499,422.400000

<h3>Values in 2015</h3>

In [14]:
df2 = df[df.loc[:, 'year'] == 2015]df2.describe()

SyntaxError: invalid syntax (<ipython-input-14-8a3a476b364d>, line 1)

In [15]:
df2.describe()

NameError: name 'df2' is not defined

<h3>Descending Sorted Values of Number of Drinks Total</h3>

In [16]:
df3 = df2.sort_values('number_of_drinks_total', ascending=False)
df3 = np.round(df3, decimals = 2)
df3.head(10)

NameError: name 'df2' is not defined

In [17]:
# df3.to_csv('../data/modified/number_of_drinks_total_sorted.csv')

<h3>List of Column Names</h3>

In [18]:
col = [i for i in sorted(df2.columns)]
col

NameError: name 'df2' is not defined

<h3>DataFrame 2 Info</h3>

In [19]:
df2.info()
df2.describe()

NameError: name 'df2' is not defined

<h3>Mean value of total number of drinks</h3>

In [20]:
# df_mean = df['number_of_drinks_total'].mean(axis = 0)
df_mean = df3["number_of_drinks_total"].mean()
df_mean = np.round(df_mean, decimals=2)

NameError: name 'df3' is not defined

In [21]:
df_mean

NameError: name 'df_mean' is not defined

<h3>Places where Alcohol Consumption is above Average</h3>

In [22]:
above_average = df3.loc[df3['number_of_drinks_total'] > df_mean]

NameError: name 'df3' is not defined

In [23]:
above_average

NameError: name 'above_average' is not defined

<h3>Create CSV File for Above Average Findings</h3>

In [24]:
above_average.to_csv('../data/modified/above_averge.csv')

NameError: name 'above_average' is not defined