In [2]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from cycler import cycler
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel('../data/pov_table3.xls')

In [4]:
# df.info()

df.dropna(inplace = True)

In [5]:
# df.dropna(subset=['Unnamed: 10', 'Unnamed: 13'])

# df.dropna(how='all')

In [6]:
df

,Table with row headings in column A and column headings in rows 6 to 9.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
9,Total.................……………………,315804,46657,857,14.8,0.3,318454,43123,926,13.5,0.3,"*-3,534",*-1.2
12,In families..............………………………..,256308,32615,741,12.7,0.3,258121,29893,844,11.6,0.3,"*-2,722",*-1.1
13,Householder............…………………….,81730,9467,228,11.6,0.3,82199,8589,243,10.4,0.3,*-879,*-1.1
14,Related children under age 18………………..,72383,14987,403,20.7,0.6,72558,13962,441,19.2,0.6,"*-1,025",*-1.5
15,Related children under age 6…………………,23470,5504,197,23.5,0.8,23459,4923,201,21,0.8,*-582,*-2.5
16,In unrelated subfamilies.……………………,1558,668,104,42.9,5,1344,559,81,41.6,4.9,-109,-1.3
17,Reference person.......……………………..,652,266,40,40.8,4.8,563,231,34,41,4.9,-35,0.1
18,Children under 18......……………………..,832,388,63,46.6,5.6,701,321,49,45.9,5.5,-67,-0.8
19,Unrelated individuals.....……………………….,57937,13374,372,23.1,0.6,58988,12671,417,21.5,0.6,*-702,*-1.6
22,White…………………………………………,244253,31089,640,12.7,0.3,245536,28566,705,11.6,0.3,"*-2,523",*-1.1
23,"White, not Hispanic………………………",195208,19652,524,10.1,0.3,195450,17786,548,9.1,0.3,"*-1,867",*-1.0
24,Black…………………………………………,41112,10755,363,26.2,0.9,41625,10020,416,24.1,1,*-735,*-2.1
25,Asian…………………………………………,17790,2137,208,12,1.2,18241,2078,189,11.4,1,-59,-0.6
26,Hispanic (any race)……………………..….,55504,13104,427,23.6,0.8,56780,12133,444,21.4,0.8,*-971,*-2.2
29,Male………………………………………….,154639,20708,443,13.4,0.3,156009,19037,470,12.2,0.3,"*-1,671",*-1.2
30,Female………………………………………,161164,25949,524,16.1,0.3,162445,24086,548,14.8,0.3,"*-1,863",*-1.3
33,Under age 18...........……………………,73556,15540,406,21.1,0.5,73647,14509,449,19.7,0.6,"*-1,031",*-1.4
34,Aged 18 to 64...........…………………….,196254,26527,533,13.5,0.3,197260,24414,566,12.4,0.3,"*-2,114",*-1.1
35,Aged 65 and older........………………….,45994,4590,176,10,0.4,47547,4201,203,8.8,0.4,*-389,*-1.1
38,Native born...................………………………..,273628,38871,774,14.2,0.3,275398,35973,811,13.1,0.3,"*-2,898",*-1.1
39,Foreign born.............………………………,42175,7786,285,18.5,0.6,43056,7150,329,16.6,0.7,*-636,*-1.9
40,Naturalized citizen....……………………..,19731,2347,146,11.9,0.7,20084,2255,151,11.2,0.7,-92,-0.7
41,Not a citizen..........………………………..,22444,5439,241,24.2,0.9,22973,4895,284,21.3,1,*-544,*-2.9
44,Northeast................………………………,55725,7020,341,12.6,0.6,55779,6891,387,12.4,0.7,-129,-0.2
45,Midwest..................………………………,67130,8714,358,13,0.5,67030,7849,377,11.7,0.6,*-865,*-1.3
46,South....................………………………..,118193,19531,466,16.5,0.4,119955,18305,604,15.3,0.5,"*-1,227",*-1.3
47,West.....................………………………..,74756,11391,454,15.2,0.6,75690,10079,421,13.3,0.6,"*-1,312",*-1.9
50,Inside metropolitan statistical areas……..,265788,38416,895,14.5,0.3,274046,35718,932,13,0.3,N,N
51,Inside principal cities……………………..,99182,18708,664,18.9,0.6,103617,17368,649,16.8,0.6,N,N
52,Outside principal cities…………………..,166606,19708,659,11.8,0.3,170429,18350,695,10.8,0.4,N,N
53,Outside metropolitan statistical areas5……,50016,8241,526,16.5,0.7,44408,7405,638,16.7,0.8,N,N
56,"Total, aged 18 to 64……..….……………",196254,26527,533,13.5,0.3,197260,24414,566,12.4,0.3,"*-2,114",*-1.1
57,All workers…………………...………………,147712,10155,270,6.9,0.2,150229,9457,297,6.3,0.2,*-698,*-0.6
58,"Worked full-time, year-round……………….",103379,3091,148,3,0.1,105695,2537,136,2.4,0.1,*-554,*-0.6
59,"Less than full-time, year-round……………………..",44332,7064,231,15.9,0.5,44534,6920,263,15.5,0.6,-144,-0.4
60,Did not work at least 1 week……………….,48542,16372,424,33.7,0.7,47031,14957,399,31.8,0.7,"*-1,415",*-1.9
63,"Total, aged 18 to 64……..….……………",196254,26527,533,13.5,0.3,197260,24414,566,12.4,0.3,"*-2,114",*-1.1
64,With a disability…………………………….,15429,4403,195,28.5,1.1,15276,4358,191,28.5,1.1,-45,Z
65,With no disability……………………………,179905,22055,471,12.3,0.3,181069,20000,526,11,0.3,"*-2,056",*-1.2
68,"Total, aged 25 and older…………….",212132,25163,485,11.9,0.2,215015,22957,526,10.7,0.2,"*-2,207",*-1.2
69,No high school diploma………………………,24582,7098,218,28.9,0.8,23453,6171,240,26.3,0.8,*-928,*-2.6
70,"High school, no college…………………….",62575,8898,279,14.2,0.4,62002,8016,277,12.9,0.4,*-882,*-1.3
71,"Some college, no degree…………………….",56031,5719,207,10.2,0.4,57660,5550,200,9.6,0.3,-169,*-0.6
72,Bachelor's degree or higher………………………,68945,3449,168,5,0.2,71900,3221,176,4.5,0.2,*-228,*-0.5

In [7]:
# for rows in df.iterrows():
#     print(rows)

In [10]:
df.columns

Index(['Table with row headings in column A and column headings in rows 6 to 9.',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [9]:
# df