In [18]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from cycler import cycler
import matplotlib.pyplot as plt

In [19]:
df = pd.read_excel('../data/table2.xls')

In [23]:
df.head(5)

,Table with row headers in column A and column headers in row 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Table 2.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Income Distribution Measures Using Money Incom...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(For information on confidentiality protection...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Measure,2014,NaN,NaN,NaN,2015,NaN,NaN,NaN,"Percentage change 2,*",NaN,NaN,NaN,NaN,NaN
4,NaN,Money income,NaN,Equivalence-\n adjusted income,NaN,Money income,NaN,Equivalence-\n adjusted income,NaN,Money income,NaN,NaN,Equivalence-\n adjusted income,NaN,NaN