### Checking Temperature in Areas Contrasted with Alcohol Consumption

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
ac_df = pd.read_csv('../data/modified/2015_states_sorted.csv')
ac_df = ac_df.drop(columns=['Unnamed: 0','year'])

ac_df = np.round(ac_df, decimals = 2)

us_state_abbrev = {
'alabama': 'AL', 'alaska': 'AK', 'arizona': 'AZ', 'arkansas': 'AR', 'california': 'CA', 'colorado': 'CO',
'connecticut': 'CT', 'delaware': 'DE', 'florida': 'FL', 'georgia': 'GA', 'hawaii': 'HI', 'idaho': 'ID',
'illinois': 'IL', 'indiana': 'IN', 'iowa': 'IA', 'kansas': 'KS', 'kentucky': 'KY', 'louisiana': 'LA',
'maine': 'ME', 'maryland': 'MD', 'massachusetts': 'MA', 'michigan': 'MI', 'minnesota': 'MN', 'mississippi': 'MS',
'missouri': 'MO', 'montana': 'MT', 'nebraska': 'NE', 'nevada': 'NV', 'new hampshire': 'NH', 'new Jersey': 'NJ',
'new mexico': 'NM', 'new york': 'NY', 'north carolina': 'NC', 'north dakota': 'ND', 'ohio': 'OH', 'oklahoma': 'OK',
'oregon': 'OR', 'pennsylvania': 'PA', 'phode island': 'RI', 'south carolina': 'SC', 'south dakota': 'SD',
'tennessee': 'TN', 'texas': 'TX', 'utah': 'UT', 'vermont': 'VT', 'virginia': 'VA', 'washington': 'WA',
'west virginia': 'WV', 'wisconsin': 'WI', 'wyoming': 'WY'}

ac_df['state'] = ac_df['state'].map(us_state_abbrev)
ac_df.columns.values[0] = 'STATE'
ac_df.head()

t_df = pd.read_csv('../data/modified/2015_state_temperatures.csv')

# ac_df = ac_df.dropna()
# # ac_df.head(10)

# a_df_sort = ac_df.sort_values(by = "number_of_drinks_total", axis = 0, ascending = False)

# t_df = t_df.drop(columns=['CITY','Unnamed: 0'])

# # New DataFrame with Annual Temp by State
# t_annual = t_df[['ANN','STATE']]
# t_annual

In [54]:
# t_cond = t_df[['FEB', 'MAY', 'AUG', 'NOV', 'STATE']]

# Compress Rows / Eliminate Duplicates
# t_comp = t_cond.groupby(['STATE']).agg('mean')

# t_annual = t_annual.groupby(['STATE']).agg('mean')

In [55]:
# t_annual.index

# t_annual['STATE'] = t_annual.index

# t_annual = t_annual.reset_index()

In [56]:
# t_comp.drop(index = 'KWAJALEIN- MARSHALL',inplace=True)
# t_annual.drop('KWAJALEIN- MARSHALL', axis=0)

# t_ann_comp = t_annual.groupby(['STATE']).agg('mean')
# t_ann_comp.drop(index = 'KWAJALEIN- MARSHALL',inplace=True)
# t_comp['MAY'] = t_comp['MAY'].fillna(1)

# t_comp.describe()
# t_annual.describe()
# t_comp.describe()

# ac_df['state'] = ac_df['state'].str.upper()
# # 
# ac_df.columns.values[0] = 'STATE'
# ac_df.head(1)
# ac_df.merge(t_annual , on='STATE',  how='left')
# t_annual.info

In [57]:
# bins = 20
# plt.hist(ac_df['number_of_drinks_total'], bins = bins);

In [58]:
# ac_df[(ac_df['number_of_drinks_total']) <= 500].hist(bins=10,figsize=(14,10));
# ac_df.columns

In [59]:
# df = df.drop(columns=['Unnamed: 0'])

# df = np.round(df, decimals = 2)

# # ac_df.head(10)

# us_state_abbrev = {
# 'alabama': 'AL', 'alaska': 'AK', 'arizona': 'AZ', 'arkansas': 'AR', 'california': 'CA', 'colorado': 'CO',
# 'connecticut': 'CT', 'delaware': 'DE', 'florida': 'FL', 'georgia': 'GA', 'hawaii': 'HI', 'idaho': 'ID',
# 'illinois': 'IL', 'indiana': 'IN', 'iowa': 'IA', 'kansas': 'KS', 'kentucky': 'KY', 'louisiana': 'LA',
# 'maine': 'ME', 'maryland': 'MD', 'massachusetts': 'MA', 'michigan': 'MI', 'minnesota': 'MN', 'mississippi': 'MS',
# 'missouri': 'MO', 'montana': 'MT', 'nebraska': 'NE', 'nevada': 'NV', 'new hampshire': 'NH', 'new Jersey': 'NJ',
# 'new mexico': 'NM', 'new york': 'NY', 'north carolina': 'NC', 'north dakota': 'ND', 'ohio': 'OH', 'oklahoma': 'OK',
# 'oregon': 'OR', 'pennsylvania': 'PA', 'phode island': 'RI', 'south carolina': 'SC', 'south dakota': 'SD',
# 'tennessee': 'TN', 'texas': 'TX', 'utah': 'UT', 'vermont': 'VT', 'virginia': 'VA', 'washington': 'WA',
# 'west virginia': 'WV', 'wisconsin': 'WI', 'wyoming': 'WY'}

# df['state'] = df['state'].map(us_state_abbrev)


# df = df.dropna()

# # df.head(10)

# # df.to_csv('../data/modified/2015_alcohol_stats.csv')
# # ac_df.sort_values