In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from cycler import cycler
import matplotlib.pyplot as plt
import re

<h3>Import Dataframes</h3>

In [4]:
ac_df = pd.read_csv('../data/modified/2015_states_sorted.csv')

In [5]:
ac_df.head(10)

,Unnamed: 0,state,year,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
0,3,alabama,2015,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879157,428.800000
1,45,alaska,2015,1.11,0.53,1.20,2.84,263.111111,105.178295,249.148418,605.866667
2,87,arizona,2015,1.16,0.40,0.78,2.34,274.962963,79.379845,161.946472,499.200000
3,129,arkansas,2015,0.97,0.22,0.65,1.83,229.925926,43.658915,134.955393,390.400000
4,171,california,2015,1.00,0.53,0.75,2.28,237.037037,105.178295,155.717762,486.400000
5,213,colorado,2015,1.12,0.51,1.14,2.77,265.481481,101.209302,236.690998,590.933333
6,255,connecticut,2015,0.85,0.61,0.95,2.41,201.481481,121.054264,197.242498,514.133333
7,297,delaware,2015,1.19,0.72,1.75,3.66,282.074074,142.883721,363.341444,780.800000
8,339,district of columbia,2015,1.14,1.02,1.67,3.82,270.222222,202.418605,346.731549,814.933333
9,381,florida,2015,1.11,0.51,0.98,2.61,263.111111,101.209302,203.471208,556.800000