In [1]:
import pandas as pd
import numpy as np; np.random.seed(0)
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import seaborn as sns; sns.set()
from cycler import cycler
import re

<h3>Import DataFrame</h3>

In [2]:
temp_df = pd.read_csv('../data/modified/state_temperatures.csv')

<h3>DataFrame</h3>

In [3]:
temp_df

,Unnamed: 0,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN
0,0,81,83,89,92,99.0,106,107,105,102,94,85,80,107
1,1,77,83,88,92,96.0,106,105,105,101,91,84,79,106
2,2,84,84,89,94,100.0,103,104,105,99,93,87,81,105
3,3,83,85,89,94,98.0,105,105,106,101,100,88,85,106
4,4,50,49,51,69,77.0,85,84,82,73,64,54,48,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,258,95,96,95,95,93.0,95,91,92,92,94,95,94,96
259,259,94,96,94,94,94.0,94,95,97,96,95,98,95,98
260,260,94,95,96,94,93.0,93,92,96,93,92,91,93,96
261,261,94,96,93,96,96.0,97,94,95,96,96,94,94,97
262,262,92,96,96,97,96.0,97,95,97,97,98,96,94,98

<h3>Drop First Column from previous Index Reset</h3>

In [4]:
temp_df = temp_df.drop(columns='Unnamed: 0')

<h3>New DataFrame</h3>

In [5]:
temp_df

     JAN  FEB  MAR  APR    MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC  ANN
0     81   83   89   92   99.0  106  107  105  102   94   85   80  107
1     77   83   88   92   96.0  106  105  105  101   91   84   79  106
2     84   84   89   94  100.0  103  104  105   99   93   87   81  105
3     83   85   89   94   98.0  105  105  106  101  100   88   85  106
4     50   49   51   69   77.0   85   84   82   73   64   54   48   85
..   ...  ...  ...  ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
258   95   96   95   95   93.0   95   91   92   92   94   95   94   96
259   94   96   94   94   94.0   94   95   97   96   95   98   95   98
260   94   95   96   94   93.0   93   92   96   93   92   91   93   96
261   94   96   93   96   96.0   97   94   95   96   96   94   94   97
262   92   96   96   97   96.0   97   95   97   97   98   96   94   98

[263 rows x 13 columns]

In [6]:
# temp_df.to_csv('../data/modified/2015_state_temperatures.csv')

In [7]:
temp_df

     JAN  FEB  MAR  APR    MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC  ANN
0     81   83   89   92   99.0  106  107  105  102   94   85   80  107
1     77   83   88   92   96.0  106  105  105  101   91   84   79  106
2     84   84   89   94  100.0  103  104  105   99   93   87   81  105
3     83   85   89   94   98.0  105  105  106  101  100   88   85  106
4     50   49   51   69   77.0   85   84   82   73   64   54   48   85
..   ...  ...  ...  ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
258   95   96   95   95   93.0   95   91   92   92   94   95   94   96
259   94   96   94   94   94.0   94   95   97   96   95   98   95   98
260   94   95   96   94   93.0   93   92   96   93   92   91   93   96
261   94   96   93   96   96.0   97   94   95   96   96   94   94   97
262   92   96   96   97   96.0   97   95   97   97   98   96   94   98

[263 rows x 13 columns]

<h3>Create a New DataFrame with Row Totals</h3>

In [8]:
temp_row_total = temp_df.copy()
temp_row_total.loc['Total',:] = temp_df.sum(axis=0)
temp_row_total

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN
0,81.0,83.0,89.0,92.0,99.0,106.0,107.0,105.0,102.0,94.0,85.0,80.0,107.0
1,77.0,83.0,88.0,92.0,96.0,106.0,105.0,105.0,101.0,91.0,84.0,79.0,106.0
2,84.0,84.0,89.0,94.0,100.0,103.0,104.0,105.0,99.0,93.0,87.0,81.0,105.0
3,83.0,85.0,89.0,94.0,98.0,105.0,105.0,106.0,101.0,100.0,88.0,85.0,106.0
4,50.0,49.0,51.0,69.0,77.0,85.0,84.0,82.0,73.0,64.0,54.0,48.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,94.0,96.0,94.0,94.0,94.0,94.0,95.0,97.0,96.0,95.0,98.0,95.0,98.0
260,94.0,95.0,96.0,94.0,93.0,93.0,92.0,96.0,93.0,92.0,91.0,93.0,96.0
261,94.0,96.0,93.0,96.0,96.0,97.0,94.0,95.0,96.0,96.0,94.0,94.0,97.0
262,92.0,96.0,96.0,97.0,96.0,97.0,95.0,97.0,97.0,98.0,96.0,94.0,98.0
Total,19194.0,19986.0,22179.0,23931.0,18041.0,26810.0,27101.0,26809.0,25995.0,23933.0,21290.0,19511.0,27415.0

<h3>Set DataFrame Columns to Variable</h3>

In [9]:
temp_cols = temp_df.columns.values

<h3>DataFrame Description</h3>

In [10]:
temp_description = temp_df.describe()
temp_description

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN
count,263.000000,263.000000,263.000000,263.000000,189.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000
mean,72.980989,75.992395,84.330798,90.992395,95.455026,101.939163,103.045627,101.935361,98.840304,91.000000,80.950570,74.186312,104.239544
std,11.873523,12.143855,11.075422,9.294582,8.681378,7.670461,7.845223,7.810226,8.983720,9.698509,10.569717,11.495746,7.643764
min,36.000000,36.000000,34.000000,42.000000,47.000000,62.000000,65.000000,66.000000,61.000000,43.000000,39.000000,34.000000,66.000000
25%,66.000000,69.000000,82.000000,89.000000,93.000000,98.500000,100.000000,99.000000,97.000000,89.000000,77.000000,68.000000,101.000000
50%,74.000000,76.000000,87.000000,93.000000,96.000000,103.000000,104.000000,103.000000,100.000000,93.000000,83.000000,75.000000,105.000000
75%,81.000000,85.000000,90.000000,95.000000,100.000000,106.000000,108.000000,107.000000,104.000000,96.000000,87.000000,82.000000,109.000000
max,95.000000,100.000000,106.000000,107.000000,113.000000,122.000000,121.000000,117.000000,118.000000,111.000000,101.000000,95.000000,122.000000

In [11]:
# temp_description.to_csv('../data/modified/2015_temp_description.csv')

In [12]:
temp_df.count()

JAN    263
FEB    263
MAR    263
APR    263
MAY    189
JUN    263
JUL    263
AUG    263
SEP    263
OCT    263
NOV    263
DEC    263
ANN    263
dtype: int64

<h3>Next DataFrame</h3>

In [13]:
# ann_mean = pd.read_csv('../data/modified/annual_mean_temp.csv')

In [14]:
# ann_mean = ann_mean.drop(columns='Unnamed: 0')

In [15]:
ann_mean.head(10)

NameError: name 'ann_mean' is not defined

In [ ]:
ann_mean.describe()

<h3>Checking Annual AVG</h3>

In [ ]:
annual_avg = ann_mean['ANN'].sum() / ann_mean.count()
annual_avg = np.round(annual_avg, decimals = 2)
annual_avg = annual_avg.loc['ANN']
annual_avg

In [ ]:
# uniform_data = np.random.rand(10,12)
temp_df['JAN']
ax = sns.heatmap(uniform_data)
fname = '../img/test_heatmap.jpg'
plt.savefig(fname, dpi=150)

In [ ]:
# plt.savefig(fname, dpi = None, facecolor='w', edgecolor='w',
#        orientation='portrait', papertype=None, pad_inches=0.1,
#        frameon=None, metadata=None)

<h3>Drop First Column from previous Index Reset</h3>